httpx
# FastAPI and web server
fastapi
uvicorn
python-dotenv

# OpenAI and LangChain
openai
langchain
langchain-openai
langchain-community
langchain-mongodb

# MongoDB
pymongo
motor

# Authentication and Security
PyJWT
passlib[bcrypt]
python-multipart

# Other dependencies
pydantic
twilio
starlette-context
colorlog
email-validator
